@import "mixins";
@import "typography";
@import "variables";

.aboutContent,
.submitBtn {
    button {
        padding: 10px 16px;
        border: 2px solid var(--bg-red);
        border-radius: 10px;
        background-color: var(--bg-red);
        @include font16;
        font-weight: 600;
        font-family: var(--font-family-roboto);
        color: var(--font-white);
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &:hover {
            background-color: transparent;
            color: var(--bg-red);
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }
    }
}

.submitBtn,
.submitBtn2 {
    button {
        width: 100%;

        &:hover {
            box-shadow: none;
        }
    }
}

.joinDiv {
    button {
        padding: 10px 16px;
        border: 2px solid var(--color-white);
        border-radius: 10px;
        background-color: var(--color-white);
        @include font16;
        font-weight: 600;
        font-family: var(--font-family-roboto);
        color: var(--bg-red);
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &:hover {
            background-color: transparent;
            color: var(--color-white);
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }
    }
}

.jobBox {
    button {
        padding: 8px 40px;
        border: none;
        border-radius: 10px;
        background-color: var(--font-black);
        @include font16;
        font-weight: 600;
        font-family: var(--font-family-roboto);
        color: var(--font-white);
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &:hover {
            background-color: transparent;
            color: var(--font-black);
            background-color: var(--color-white);
        }
    }
}

.sendCVText,
.carOpModal,
.submitBtn2 {
    button {
        padding: 10px 16px;
        border: none;
        border-radius: 10px;
        background-color: var(--bg-redium);
        @include font16;
        font-weight: 600;
        font-family: var(--font-family-roboto);
        color: var(--font-black);
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &:hover {
            background-color: transparent;
            background-color: var(--color-white);
        }
    }
}

.officeDivExplore {
    button {
        padding: 10px 16px;
        border: none;
        border-radius: 10px;
        background-color: var(--bg-blue);
        @include font16;
        font-weight: 600;
        font-family: var(--font-family-roboto);
        color: var(--font-white);
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &:hover {
            background-color: transparent;
            background-color: var(--bg-red);
        }
    }
}
