@import "mixins";
@import "typography";
@import "variables";

.container {
    max-width: calc(1200px + 60px);
    margin: 0 auto;
    padding: 0 30px;

    @include breakpoint("md-max") {
        padding: 0 20px;
    }
}

.container2 {
    max-width: calc(820px + 60px);
    margin: 0 auto;
    padding: 0 30px;

    @include breakpoint("md-max") {
        padding: 0 20px;
    }
}

.containerFooter {
    max-width: calc(920px + 60px);
    margin: 0 auto;
    padding: 0 30px;

    @include breakpoint("md-max") {
        padding: 0 20px;
    }
}
