:root {
    --color-white: #fff;
    --color-black: #000;

    --font-white: #fff;
    --font-black: #272443;
    --font-gray: #404040;
    --font-red: #da392b;
    
    --border-color: #272443;
    
    --bg-main: #f6f4f0;
    --bg-red: #da392b;
    --bg-redium: #fcfd71;
    --bg-blue: #272443;
    --bg-gray: #f2f2f4;

    --font-family-roboto: "Roboto";
    --font-family-suezone: "SuezOne";
    --font-family-reklame: "ReklameScript";
}