@mixin font14 {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
}

@mixin font16 {
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
}

@mixin commonPera {
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    font-family: var(--font-family-roboto);
}

@mixin font20 {
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
}

@mixin font22 {
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
}

@mixin font22Bold {
    font-size: 22px;
    line-height: 26px;
    font-weight: 600;
}

@mixin font24 {
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
}

@mixin font26Bold {
    font-size: 26px;
    line-height: 32px;
    font-weight: 600;
}

@mixin font34 {
    font-size: 34px;
    line-height: 41px;
    font-weight: 600;
}

@mixin commonHead {
    font-size: 50px;
    line-height: 60px;
    font-weight: 400;
    font-family: var(--font-family-suezone);

    @include breakpoint("sm-max") {
        font-size: 34px;
        line-height: 40px;
    }
}

@mixin font80 {
    font-size: 80px;
    line-height: 100px;
    font-weight: 400;
    font-family: var(--font-family-suezone);
}
