body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-main);
}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;

    @media (max-width: 576px) {
        word-break: break-word;
    }
}

a {
    text-decoration: none;
}

textarea {
    resize: none;
}

.no-scroll {
    position: fixed;
    width: 100%;
    overflow-y: scroll;
}

.no-scroll::-webkit-scrollbar {
    background: #fff;
}

